{
  "parser": "@typescript-eslint/parser",
  "env": {
      "browser": true,
      "es6": true,
      "node": true,
      "jest": true
  },
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": ["plugin:@typescript-eslint/recommended", "google", "prettier", "next/core-web-vitals"],
  "rules": {
    "no-alert": ["error"],
    "no-debugger": ["error"],
    "no-console": ["error"],
    "no-undef": ["error"],
    "max-len": ["error", { "code": 1200 }],
    "arrow-parens": [2, "as-needed"]
  }
}  